<!doctype html>
<html lang="en">
    <head>
        <title>Anime Over/Under</title>
        <!--FAVICON-->
        <link 
            rel="icon" 
            type="image/x-icon" 
            href="imgs/placeholder.png"
        />
        <!-- Required meta tags -->
        <meta 
            charset="utf-8"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link 
            rel="stylesheet" 
            href="style.css"
        />
    </head>

    <body>
        <div id="app">
            <div>High Score: {{ highScore }}<br>Streak: {{ streak }}</div>
            <div v-if="!loading" class="cards-container">
                <div v-for="(anime, index) in animePair" :key="anime.id">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <a :href="anime.siteUrl" target="_blank">{{ anime.title.english || anime.title.romaji }}</a>
                            </div>
                            <div class="card-subtitle">
                                <button v-if="!hint" @click="getHint(anime)">Hint (Score)</button>
                                <div v-else>{{ anime.averageScore }}</div>
                            </div>
                            <br> <!--Breaks Title and Image-->
                            <img :src="anime.coverImage.large" alt="Random anime's poster" class="img-fluid">
                        </div>
                        <button v-if="!guessed" @click="guessOverUnder(anime, animePair[index === 0 ? 1 : 0])">Guess</button>
                        <div v-else style="text-align:center;">{{ anime.popularity }} popularity</div>
                    </div>
                </div>
            </div>
            <div v-else class="loader-container">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>